.section-3 {
  background-color: #F0F1EF; 
  z-index: 1;
  position: relative;

  .description-container {
    display: none;
    align-items: center;
    padding-right: 2rem;

    &.active {
      display: flex;
    }
  }

  .img-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .image {
      // opacity: 0.5;

      // &.active {
      //   opacity: 1;
      // }

      // &:hover {
      //   opacity: 1;
      // }
    }
  }

  .text-span {
    overflow: hidden;

    span {
      z-index: 1;
    }
  }

  .img-item {
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

    span {
      position: absolute;
      z-index: 1;
      color: #fff;
      font-size: 28px;
      font-weight: 800;
      left: 17%;
      bottom: 15%;
      letter-spacing: 1px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.tab-section {
  color: #55B047;
  padding-top: 10vh;

  .two-col {
    margin-top: .5rem;
    flex-direction: column;
  }

  .sub-title {
    color: #55B047;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;

    &.blue span {
      color: #00A3D5;
    }

    &.green span {
      color: #55B047;
    }

    &.orange span {
      color: #F58231;
    }

  }
}

.goals {
  margin-top: 2rem;
  margin-bottom: 1.5rem;

  p b {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.blueprint-list {
  margin-top: 2rem;
}

.blueprint-item {
  display: flex;
  gap: 1rem;
  margin-bottom: .5rem;

  .label {
    display: block;
    margin-bottom: .5rem;

    b {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    i {
      font-family: 'Merriweather', serif;
      font-size: 1.125rem;
      margin-left: 10px;
    }
  }

  .text {
    p {
      font-size: 1rem;
    }
  }

  .info-2 {
    display: flex;
    align-items: center;
    justify-content: center;

    .label {
      display: flex;
      flex-direction: column;

      i {
        margin-left: 0;
      }
    }
  }
}

.description-container {
  div.p-text * {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}


.center {
  position: absolute;
  top: 28%;
  left: 11%;
  // transform: translate(-50%, -50%);
  z-index: 2;
}

.circle {
  width: 24px;
  background: rgba(255, 255, 255, 0.25);
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.25);
  // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #0000001f;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.our-business {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;

  .business-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 1rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &.p-5 {
      padding: 5px;
    }
  }
}

.blueprint-mobile {
  margin-top: 2rem;

  .acc-arrow {
    background-color: #f7d299;
  }

  .description-container {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(97, 97, 97, 0.29);
    }
  }

  .description {
    width: 100%;

    padding-bottom: 1rem;

  }

  .sub-title {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 0;
  }

  .acc-arrow {
    height: 40px;
    width: 40px;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  .p-text {
    margin-top: .5rem;
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}

@media screen and (max-width:1024px) {
  .tab-section {
    .description-container {
      padding-right: 0;
    }
  }

  .section-3 {
    padding-bottom: 1.5rem;
  }

  .tab-section {
    padding-top: 8vh;

    .heading-1 {
      margin-bottom: 1rem;
    }

    .description-container {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width:768px) {}

@media screen and (min-width:1025px) {

  .tab-section {
    .two-col {
      flex-direction: row;
    }
  }
}