.two-col {
  display: flex;
  width: 100%;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.green {
  color: #55B047;
}

.orange {
  color: #F58231;
}

.blue {
  color: #00A3D5;
}

.yellow {
  color: #F8D296;
}

.red {
  color: #E8412C;
}

.brown {
  color: #786438;
}