/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  display: inline-flex;
  padding: 14px 53px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn span {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.btn.btn-pri {
  border-radius: 100px;
  background: #E8412C;
}

.btn-rounded {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  color: #000;
  font-weight: 700;
  border-radius: 50%;
  background-color: #F8D296;
  cursor: pointer;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.12));
}

@media screen and (max-width: 640px) {
  .btn-rounded {
    width: 120px;
    height: 120px;
    font-size: 1rem;
  }
}
.two-col {
  display: flex;
  width: 100%;
}
.two-col.reverse {
  flex-direction: column-reverse;
}

.green {
  color: #55B047;
}

.orange {
  color: #F58231;
}

.blue {
  color: #00A3D5;
}

.yellow {
  color: #F8D296;
}

.red {
  color: #E8412C;
}

.brown {
  color: #786438;
}

.slider-swiper {
  --swiper-theme-color: #5abf4b;
  --swiper-navigation-size: 35px;
  --swiper-pagination-bottom: 0px;
}
.slider-swiper .swiper-button-next,
.slider-swiper .swiper-button-prev {
  color: #ffffff;
  width: calc(var(--swiper-navigation-size) / 44 * 60);
}
.slider-swiper .swiper-pagination {
  margin-top: 1rem;
}

@media screen and (max-width: 769px) {
  .slider-swiper .swiper-button-next,
  .slider-swiper .swiper-button-prev {
    display: none;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #30302C;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

[data-load-container] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.125rem;
}
body[data-lenis-prevent=true] {
  padding: 0;
}
body.active {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.link,
.link span {
  color: #fff;
  background: linear-gradient(0deg, #fff, #fff) no-repeat right bottom/0 var(--bg-h);
  transition: background-size 300ms;
  padding-bottom: 2px;
  --bg-h: 2px;
}
.link:where(:hover, :focus-visible),
.link span:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

p {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  color: #30302C;
  line-height: 1.75;
}

div.p-text * {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  color: #30302C;
  line-height: 1.75;
}

h1,
.heading-1 {
  font-size: 2.5rem;
}

img {
  display: block;
}

h2,
.heading-2 {
  font-size: 2.25rem;
}

h3,
.heading-3 {
  font-size: 2rem;
}

h4,
.heading-4 {
  font-size: 1.8rem;
}

h5,
.heading-5 {
  font-size: 1.25rem;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5 {
  font-weight: 700;
  color: #2E2E2F;
}

.heading-xl {
  font-size: 3rem;
  color: #55B047;
  text-align: center;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  text-align: center;
}

.main {
  position: relative;
  min-height: 100vh;
  background: #F5F5F7;
  z-index: 2;
  margin-bottom: 0;
}
.main:after {
  content: "";
  position: absolute;
  border-radius: 0px 0px 50px 50px;
  background: #F5F5F7;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  height: 50px;
  width: 100%;
  z-index: 1;
  top: 100%;
}

.block-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 100%;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.privacy-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8D296;
  z-index: 100;
}

.bordered-button {
  font-size: 1rem;
  border: 2px solid #30302C;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #30302C;
  width: auto;
  font-weight: 500;
  cursor: pointer;
}

.article-container {
  padding-top: 8rem;
}
.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4,
.article-container h5 {
  margin-bottom: 2rem;
}
.article-container h1 small,
.article-container h2 small,
.article-container h3 small,
.article-container h4 small,
.article-container h5 small {
  font-size: 1.25rem;
}
.article-container p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #505052;
}
.article-container .article {
  display: flex;
  gap: 2rem;
}
.article-container b {
  font-family: "Merriweather", serif;
}
.article-container ol,
.article-container ul {
  line-height: 1.5;
  padding-left: 2rem;
  margin-top: 10px;
  margin-bottom: 2rem;
}
.article-container ol li,
.article-container ul li {
  font-family: "Merriweather", serif;
}
.article-container .image-container figure {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
}
.article-container .description-container img {
  margin-bottom: 2rem;
  border-radius: 25px;
  mix-blend-mode: multiply;
  margin-left: auto;
  margin-right: auto;
}
.article-container .description-container .full-img img {
  width: 100%;
  height: 100%;
}
.article-container .description-container.img-table img {
  border-radius: 0;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

@media screen and (max-width: 1024px) {
  .article-container {
    padding-top: 6rem;
  }
  .article-container img {
    width: 100%;
    height: 100%;
  }
  .article {
    flex-direction: column-reverse;
  }
  .article-container h1,
  .article-container h2,
  .article-container h3,
  .article-container h4,
  .article-container h5 {
    margin-bottom: 1rem;
  }
  .article-container p {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  h1,
  .heading-1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h2,
  .heading-2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  h3,
  .heading-3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h4,
  .heading-4 {
    font-size: 1.25rem;
  }
  h5,
  .heading-5 {
    font-size: 1.1rem;
  }
  p,
  div.p-text * {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .main {
    margin-bottom: 2rem;
  }
  .main:after {
    height: 90px;
  }
  .article-container .description-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  .article-container p {
    line-height: 2rem;
  }
  p {
    line-height: 2rem;
  }
  div.p-text * {
    line-height: 2rem;
  }
}
@media screen and (min-width: 1350px) {
  .block-content {
    max-width: 1200px;
  }
  .article-container {
    padding-top: 8rem;
  }
  .article-container p {
    font-size: 1.125rem;
  }
  p {
    font-size: 1.3rem;
  }
  div.p-text * {
    font-size: 1.3rem;
  }
}
.news-update-container {
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.news-update-container .bordered-button.show-more {
  margin: 3rem auto 0;
  max-width: 30%;
}

.description-text p {
  margin-bottom: 1.5rem;
}
.description-text a {
  color: #4C9D3C;
  text-decoration: underline;
  font-weight: 600;
}
.description-text a:hover {
  color: #2E2E2F;
}

.news-title {
  margin-bottom: 50px;
}
.news-title h1 {
  color: #4C9D3C;
}

.news-banner-container {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 30px;
  background: #E5E4D7;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.news-banner-container .image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.news-banner-container .left-content,
.news-banner-container .right-content {
  width: 50%;
}
.news-banner-container .left-content {
  padding: 3rem 2.5rem;
}
.news-banner-container h2 {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-banner-container p {
  font-size: 1.125rem;
  color: #505052;
  margin-bottom: 2.5rem;
}
.news-banner-container .action {
  display: flex;
}

.news-tabs-container {
  margin-bottom: 6rem;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-tab {
  display: flex;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  background-color: #E5E4D7;
  border-radius: 100px;
  background: #E5E4D7;
  cursor: pointer;
}
.btn-tab.active {
  background-color: #55B047;
}
.btn-tab.active span {
  color: #FFF;
}
.btn-tab span {
  font-weight: 500;
  color: #30302C;
  font-size: 1.125rem;
}

.tabs-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.tabs-content .tab-item {
  flex: calc(50% - 1rem) 1;
}

.tab-item {
  display: flex;
  margin-bottom: 2rem;
}
.tab-item .image-container {
  width: auto;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  max-width: 184px;
  width: 100%;
  height: 100%;
  max-height: 188px;
}
.tab-item .image-container a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tab-item .description-container {
  padding: 12px;
  margin-left: 10px;
  width: 100%;
}
.tab-item .description-container p {
  color: #30302C;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.65rem;
  font-family: "Merriweather", serif;
}
.tab-item h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tab-item a {
  color: #55B047;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .news-banner-container .left-content {
    width: 100%;
    padding: 2.5rem 1.5rem;
  }
  .news-banner-container img {
    position: relative !important;
    width: auto !important;
  }
}
@media screen and (max-width: 768px) {
  .news-update-container .tab-item {
    flex-direction: column;
  }
  .news-update-container .bordered-button.show-more {
    max-width: 100%;
    margin: 2rem auto 0;
  }
}
@media screen and (max-width: 480px) {
  .news-update-container .tab-item {
    flex: 100% 1;
  }
  .news-update-container .tab-item .description-container {
    margin-left: 0;
  }
  .news-update-container .tab-item .image-container {
    max-width: 100%;
    max-height: 100%;
  }
  .news-update-container .tab-item img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .news-banner-container {
    flex-direction: row;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/common/ScrollToTop/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.scroll-to-top {
  position: fixed;
  right: 0;
  z-index: 1000;
  bottom: 6vh;
  right: 5vw;
  background: #f8d296;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  cursor: pointer;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/footer/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #C7C3C2;
  height: 100%;
  z-index: 1;
  color: #464646;
}
.footer-container .footer-body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 2rem;
}
.footer-container .copyright {
  margin-top: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #30302C;
  font-weight: 500;
  font-size: 13px;
}
.footer-container .copyright a:hover {
  border-bottom: 1px solid #30302C;
}
.footer-container .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}
.footer-container .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container .subsidiary {
  border: 1px solid #30302C;
  border-radius: 50px;
  background-color: transparent;
}

.subsidiary-website a.btn.subsidiary {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
}

.f-item {
  margin-bottom: 1rem;
}

.f-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.f-title p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer-logo {
  margin-right: 5px;
}

.f-details {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.footer-accordion-container {
  margin-bottom: 2rem;
}
.footer-accordion-container .f-title p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #464646;
}
.footer-accordion-container a,
.footer-accordion-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.footer-accordion-container a:last-child,
.footer-accordion-container p:last-child {
  margin-bottom: 1rem;
}
.footer-accordion-container a:hover {
  text-decoration: underline;
}

.socials-container {
  display: flex;
  gap: 1rem;
}

.footer-accordion {
  display: flex;
  gap: 0 2rem;
}
.footer-accordion .accordion-left {
  width: 100%;
}
.footer-accordion .accordion-right {
  width: 100%;
}
.footer-accordion .f-details div p {
  margin-bottom: 0;
}

.f-logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.f-details {
  border-bottom: 1px solid #464646;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .footer-logo {
    order: 1;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .subsidiary-website {
    margin-bottom: 2rem;
    order: 2;
  }
  .btn.subsidiary {
    padding-left: 30px;
    padding-right: 30px;
  }
  .socials {
    order: 3;
  }
}
@media screen and (max-width: 768px) {
  .footer-accordion {
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px) {
  .footer-container {
    flex-direction: row;
    align-items: stretch;
  }
  .footer-container .footer-body {
    padding-top: 100px;
  }
  .footer-container .footer-content {
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .footer-container .socials {
    flex-direction: row;
  }
  .f-logo {
    flex-direction: row;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/modal/modal.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal-container {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow-y: auto;
  display: block;
}

.modal {
  overflow: scroll;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem 3.5rem;
  display: block;
  margin: auto;
}

.modal-title {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.modal-title .heading-2.green {
  color: #55B047;
}
.modal-title .heading-2.orange {
  color: #F58232;
}
.modal-title .heading-2.blue {
  color: #00A4D6;
}

.modal-body {
  text-align: left;
}
.modal-body .item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.modal-body .item ul {
  padding-top: 10px;
  padding-left: 1.2rem;
}
.modal-body .item ul li {
  font-weight: 400;
  font-size: 1.125rem;
  font-family: "Merriweather", serif;
}
.modal-body p {
  font-weight: 400;
  font-size: 1.125rem;
}
.modal-body .short-text {
  margin-bottom: 1.25rem;
}
.modal-body .sub-title {
  display: inline-block;
  padding: 4px 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
.modal-body .sub-title.green {
  background-color: #55B047;
}
.modal-body .sub-title.orange {
  background-color: #F58232;
}
.modal-body .sub-title.blue {
  background-color: #00A4D6;
}
.modal-body .label-container {
  margin-bottom: 2rem;
}

.modal-close-button {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  background-color: #2E2E2F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 50px;
  border: 0;
  z-index: 1;
}
.modal-close-button.inner {
  display: none;
}

#subsidiary-modal-container .heading-2 {
  color: #55B047;
}
#subsidiary-modal-container .modal-body {
  max-height: 500px;
  overflow-y: scroll;
  padding-top: 1rem;
}
#subsidiary-modal-container .modal-body p {
  margin-bottom: 8px;
}
#subsidiary-modal-container .modal-body p a {
  font-weight: 500;
  font-size: 1.125rem;
}
#subsidiary-modal-container .modal-body p a:hover {
  font-weight: 600;
  color: #55B047;
}

.btn-modal-outer-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  #subsidiary-modal-container .modal {
    height: 100%;
  }
  .modal-title .heading-2 {
    font-size: 1.45rem;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    padding: 2rem;
  }
  .modal-title {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .modal-title {
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .modal-container {
    padding: 2rem;
  }
  .modal {
    max-width: 800px;
    border-radius: 15px;
  }
  .modal-close-button {
    top: 1.5rem;
    right: 1.5rem;
  }
  .modal-close-button.inner {
    display: flex;
  }
  .btn-modal-outer-container {
    display: none;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/header/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 0;
  padding-top: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  z-index: 10;
}

.logo {
  z-index: 20;
}
.logo a img:first-child {
  display: none;
}

.burger-menu .burger {
  width: 100%;
  z-index: 10;
}
.burger-menu .burger::after, .burger-menu .burger::before {
  content: "";
  display: block;
  height: 2px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}
.burger-menu .burger::after {
  top: -5px;
}
.burger-menu .burger::before {
  top: 5px;
}
.burger-menu .burgerActive::after {
  transform: rotate(45deg);
  top: -2px;
}
.burger-menu .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.no-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.burger-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5abf4b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-container {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.menu-item {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu-item .arrow-icon-1 {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-item .sub-menu {
  position: absolute;
  top: 100%;
  z-index: -100;
  display: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.menu-item:hover .sub-menu {
  display: block;
  padding: 1rem 1.5rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
  min-width: 20vw;
  border-radius: 8px;
}
.menu-item:hover .sub-menu span {
  display: block;
  color: #000;
  font-size: 15px;
}
.menu-item:hover .arrow-icon-1 {
  transform: rotate(-180deg);
}
.menu-item .item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.menu-item .item span {
  margin-right: 8px;
}

.sub-menu-item {
  margin-top: 6px;
  margin-bottom: 6px;
}
.sub-menu-item .link {
  font-size: 1rem;
  color: #000;
  background: linear-gradient(0deg, #30302C, #30302C) no-repeat right bottom/0 var(--bg-h);
  transition: background-size 300ms;
  padding-bottom: 1px;
  --bg-h: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sub-menu-item .link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
.sub-menu-item .wrapper-item-1 {
  display: flex;
  justify-content: space-between;
}
.sub-menu-item .item-1 {
  font-weight: 600;
}
.sub-menu-item .item-1:hover {
  background: none;
}
.sub-menu-item .arrow-icon-2 {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sub-menu-item .arrow-icon-2.active {
  transform: rotate(-180deg);
}
.sub-menu-item .arrow-container {
  cursor: pointer;
}

.wrapper-item-2,
.wrapper-item-3 {
  margin-bottom: 10px;
}

.sub-menu-item-2 {
  display: none;
  padding-left: 14px;
}
.sub-menu-item-2.active {
  display: block;
}
.sub-menu-item-2 .item-2-holder {
  display: flex;
  justify-content: space-between;
}
.sub-menu-item-2 .item-2-holder .item-2 {
  font-weight: 600;
}

.arrow-container .arrow-icon-3 {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.arrow-container .arrow-icon-3.active {
  transform: rotate(-180deg);
}

.sub-menu-item-3 {
  display: none;
  padding-left: 8px;
}
.sub-menu-item-3.active {
  display: block;
}

.menuWrapper {
  display: flex;
}

.burger-menu-container {
  position: fixed;
  right: 5%;
}

.logo-2 {
  position: fixed;
  left: 5%;
}

@media screen and (min-width: 1025px) {
  .nav-menu-container {
    display: flex;
  }
  .header {
    margin: 0.75rem auto 0;
  }
  .logo a img:first-child {
    display: block;
  }
  .logo a img:last-child {
    display: none;
  }
  .burger-button {
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .burger-menu-container {
    transform: scale(1) !important;
  }
  .header {
    position: fixed;
    padding-top: 0;
    background: rgba(255, 255, 255, 0.01);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .logo-2 {
    left: 6% !important;
  }
  .logo-2 .first {
    display: none;
  }
  .logo-2 .last {
    display: block;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/header/sideNAv/style.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.side-nav-menu {
  height: 100vh;
  background-color: rgb(86, 161, 71);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 9;
}

.side-nav-body {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 120px 40px 30px;
  overflow-y: auto;
  overflow-x: hidden;
  /* Scrollbar */
}

.nav-head p {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 2.25rem;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.footer-head {
  margin-top: auto;
}
.footer-head p {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.nav .header {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 80px;
}

.side-menu-wrapper {
  margin-bottom: 1.5rem;
}
.side-menu-wrapper .active {
  padding-left: 1.25rem;
  min-width: 350px;
}
.side-menu-wrapper span {
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
}

.side-menu-item span {
  margin-right: 12px;
}

.side-item {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.side-item .link {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.side-item-2 {
  display: flex;
  gap: 10px;
  width: 100%;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.side-item-2:first-child {
  margin-top: 1rem;
}
.side-item-2 .link {
  font-weight: 400;
  font-size: 15px;
}
.side-item-2 .link.no-bg {
  background: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.side-item-2-container {
  display: block;
  padding-left: 1.25rem;
  margin-top: 6px;
}
.side-item-2-container .link {
  margin-bottom: 6px;
}

.side-item-3-container {
  display: block;
  margin-bottom: 3px;
  padding-top: 3px;
}
.side-item-3-container .link {
  display: inline-block;
  font-weight: 400;
}

.side-item-4-container {
  padding-left: 1.5rem;
}
.side-item-4-container .link {
  font-size: 1rem;
}

.side-menu-item-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.side-menu-item-wrapper-2 span {
  display: flex;
  align-items: center;
}

.activePage {
  border-bottom: 2px solid #fff;
  padding-bottom: 6px;
  font-weight: 500;
  color: #fff;
}
.activePage:hover {
  background-size: 0;
}

.arrowActive {
  transform: rotate(-180deg);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow {
  transform: rotate(0deg);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow-2 {
  transform: rotate(0deg);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.arrow-2.active {
  transform: rotate(-180deg);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 1024px) {
  .side-nav-menu {
    max-width: 500px;
  }
  .side-nav-body {
    padding: 90px 60px 30px;
  }
  .arrow {
    width: 22px;
    height: 22px;
  }
  .side-item {
    font-size: 1rem;
  }
  .side-item .link {
    font-weight: 400;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1400px) {
  .side-nav-menu {
    max-width: 35%;
  }
  .side-nav-body {
    padding: 90px 60px 30px;
  }
}
@media screen and (min-width: 1600px) {
  .side-nav-body {
    padding: 130px 80px 80px;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/components/header/sideNAv/Curve/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(86, 161, 71);
  stroke: none;
}
